.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20rem;
	height: 5rem;
	background-color: #cdcdcd;
}

.main-buttons {
	display: flex;
	gap: 1.6rem;

  .button {
    width: 12rem;
    font-size: 1.4rem;
  }
}
