.history {
  &__item {
    border: 1px solid #000;
    margin-top: 2.4rem;
  }

  &__box {
    text-align: center;
    border-right: 1px solid #000;

    &:first-of-type {
      flex: 0 0 14rem;
    }

    &:nth-of-type(2) {
      flex: 0 0 20rem;
    }

    &:nth-of-type(3) {
      flex: 0 0 calc(100% - (14rem + 20rem));
    }
  }

  dl {
    flex: 0 0 70%;
  }

  dt {
    border-bottom: 1px solid #000;
    padding: .8rem 0;
  }

  dd {
    padding: .8rem 0;
  }

  &__buttons {
    flex: 0 0 30%;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
  }

  &__button {
    flex: 0 0 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .8rem 0;

    &--green {
      background-color: #3cb371;
    }

    &--red {
      background-color: #ff6347;
    }
  }

  .button-wrap {
    padding-top: 4rem;
  }

  .button {
    margin: 0 auto;
  }
}
