.pagination {

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  padding-top: 2.4rem;

  &__arrow {
    width: 1rem;
    height: 1rem;

    &--previous {
      border-top: 1px solid #000;
      border-left: 1px solid #000;
      transform: rotate(-45deg);
    }

    &--next {
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      transform: rotate(45deg);
    }

  }

  &__num {}
}
