@use "../abstracts/variables" as var;

.table {
	width: 100%;
	font-size: 1.4rem;

  th,
  td {
    border: 1px solid #000;
  }

  tbody span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
  }

  tbody a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
  }

  &__box {
    gap: .8rem;
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: center;
  }


  &__week {
    &--blue {
      color: var.$color-week-saturday;
    }

    &--red {
      color:var.$color-red
    }
  }
}
