.calendar {
  max-width: 1000px;
  width: 100%;

  table {
  width: 100%;
  }

  th {
    text-align: right;
    padding: 4px;
    border-bottom: 1px solid #bbb;
  }

  td {
    vertical-align: top;
    text-align: right;
    border: 1px solid #ccc;
    width: calc((100% / 7));
    padding: 4px 8px;
    height: 100px;
  }

  tbody tr td:first-of-type {
    background-color: #ffe5e5;
  }

  tbody tr td:last-of-type {
    background-color: #e0e2fc;
  }

  .active {
    background-color: #4169e1;
    color: white;
  }

  &__user {
    font-size: 14px;
    padding: 0 4px;
    background-color: #90ee90;

    &:not(:first-of-type) {
      margin-top: 4px;
    }
  }

  &__day {
    padding: 0 4px;
  }

  &__month {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 24px;
  }

}
